/app.db
/config.yaml
/init_db.py
.env
__pycache__/
*.pyc
.streamlit/secrets.toml
.vscode/
/logs/autoRCA.log
/logs/autoRCA_debug.log
/logs/autoRCA_error.log 
/logs/autoRCA_critical.log
/logs/autoRCA_warning.log
/logs/app.log
/_init_db.py
_init_.py
rca_report.txt
.streamlit/config.toml
.DS_Store
.idea/
.pytest_cache/
.mypy_cache/

